.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-item {
  width: 50%;
  position: relative;
}

.about-item .about-img {
  width: 100%;
}

.about-item h1 {
  font-size: 60px;
}

.about-item .about-text {
  margin: 42px 0;
}

.learn-more button {
  color: #fa5e01;
  padding: 10px 50px;
  border: 2px solid #fa5e01;
  font-size: 22px;
}

.learn-more button:hover {
  background-color: #fa5e01;
  color: #fff;
}

.counter {
  position: absolute;
  background-image: url("../assets/counter-bg.png");
  /* border: 1px solid #fa5e01; */
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
  left: -48%;
  top: 68%;
}

.counter h1 {
  font-size: 60px;
}
.counter p {
  font-size: 18px;
}
