.footer {
  background-color: #fa5e01;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-inner {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 20px;
}

.footer-1 {
  width: 50%;
}

.footer-1 p {
  color: #fff;
  margin-bottom: 10px;
}
.footer-2 {
  width: 50%;
}

.footer-2 ul {
  list-style: none;
}

.footer-2 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-2 ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.footer-3 h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-3 p {
  margin-top: 10px;
  color: #fff;
}

.location {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 10px;
}

.location img,
.phone img {
  width: 12px;
  height: 18px;
}

.phone {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  background-color: #fa5e01;
  height: 50px;
}

.footer-links img {
  width: 30px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}

.footer-links img:hover {
  background-color: #25201d;
  padding: 10px;
  border-radius: 8px;
}

.footer-text {
  width: 350px;
  margin-bottom: 20px;
}
