.teachers {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-bottom: 50px;
}

.teacher {
  width: 30%;
  margin-bottom: 10px;
  position: relative;
}

.teacher h3 {
  font-size: 34px;
  color: #25201d;
  margin-bottom: 10px;
}

.teacher-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.teacher-header h1 {
  font-size: 60px;
  color: #25201d;
}

.teacher-img:hover .social-links {
  display: block;
}

.teacher p {
  color: #25201d;
  margin-top: 24px;
}

.teacher img {
  width: 100%;
}

.see-teachers {
  background-color: #fff9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  gap: 5px;
  color: #25201d;
}

.arrow {
  display: block;
}

.arrow:hover {
  display: block;
}

.see-teachers:hover {
  background-color: #fa5e01;
  color: #fff;
}

.social-links {
  position: absolute;
  bottom: 25%;
  left: 20%;
  display: none;
}

.social-links img {
  width: 40px;
  height: 45px;
}

.social-links:hover {
  display: block;
}
