.topic {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.topic-item {
  padding: 25px;
}

.topic-item img {
  width: 57px;
  height: 58px;
}

.item-bg {
  background-color: #fa5e01;
}

.item-bg h3 {
  color: #fff;
}

.item-bg p {
  color: #fff;
}

.item-text {
  margin-top: 30px;
}
